/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #333;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
}

.horizontal-list li {
  display: inline-block;
}

.horizontal-list li a {
  display: block;
  text-decoration: none;
  padding: 12px;
  margin-right: 12px;
}

.horizontal-list li a:not(.logo):hover {
  text-decoration: underline;
}

.nav .logo {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 9px 10px 11px;
  transition: background-color 0.1s linear;
}

.nav .logo:hover {
  background-color: #525252;
}

.footer {
  background: #333;
  color: #ccc;
  text-align: center;
  padding: 30px 0;
}

.button {
  font-size: 2em;
  color: #fff;
  padding: 16px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

.hero {
  padding: 50px 0;
  background: url(/images/header-background.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
}

.hero .title, .hero .subtitle {
  color: #fff;
  text-shadow: 1px 2px 1px #333;
}

.hero .title {
  font-size: 3em;
}

.hero .subtitle {
  font-size: 1.5em;
  font-weight: normal;
}

.hero .title + .subtitle, .hero .subtitle + .button {
  margin-top: 20px;
}

.hero .button {
  background-color: #004dc2;
  border: none;
}

.is-primary {
  background-color: #209cee;
}

.is-primary .title, .is-primary .subtitle {
  color: #fff;
}

.is-primary .button {
  border: 1px solid #fff;
  background-color: transparent;
}


.is-text-centered {
  text-align: center;
}

.section {
  padding: 40px 0;
}

.section .title {
  font-size: 2.3em;
  margin-bottom: 15px;
}

.section .subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.section p {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.social-link {
  display: inline-block;
  height: 56px;
  border-radius: 8px;
  overflow: hidden;
}

.social-link + .social-link {
  margin-left: 10px;
}

.list-content {
  margin: 0 auto;
  max-width: 650px;
  text-align: left;
  font-size: 18px;
}

.list-content li {
  margin-bottom: 15px;
}

.list-images {
  list-style-type: none;
  margin-top: 50px;
  line-height: 50px;
}

.list-images li {
  display: inline-block;
  margin-right: 25px;
}

.list-images li img {
  display: block;
}

.modal-shown {
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow-y: auto;
}

.modal.shown {
  display: block;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 25px;
  font-size: 24px;
  background: none;
  border: none;
  color: #666;
}

.form {
  margin: 40px auto;
  width: 400px;
  min-width: 380px;
}

.form h3 {
  font-size: 1.5em;
}

.input-handle label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input-handle input {
  display: block;
  padding: 8px;
  border: 1px solid #eee;
  width: 100%;
}

.submit-button {
  display: block;
  margin-top: 15px;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #004dc2;
  border: none;
  border-radius: 3px;
  width: 100%;
}

.profile-image {
  border-radius: 100%;
  margin: 10px 0;
}

@media screen and (max-width: 900px) {
  .hero .title {
    font-size: 2.3em;
  }
}
